# Ignorar tudo dentro de uploads
/public/uploads/**

# Permitir as pastas (via gitkeep)
!/public/uploads/fotos/
!/public/uploads/currículos/

# Permitir apenas os .gitkeep
!/public/uploads/fotos/.gitkeep
!/public/uploads/currículos/.gitkeep