.nome-candidato {

    color: #212529;

    transition: all .2s ease;

}

.nome-candidato:hover {

    color: #0d6efd;

    text-decoration: underline !important;

    cursor: pointer;

}
.status-select{

    font-weight:600;

    border:none;

    color:#fff;

}

.bg-purple{

    background:#6f42c1;

    color:#fff;

}